export SLACK_CLIENT_ID=""
export SLACK_CLIENT_SECRET=""
export SLACK_BOT_SCOPE=""
export SLACK_REDIRECT_HOST=""
export SLACK_SIGNING_SECRET=""
export SLACK_TEST_TOKEN=""
export SLACK_OSS_CHANNEL_ID=""
export REDISCLOUD_URL="redis://127.0.0.1/"
export PORT="3000"

# export RUST_BACKTRACE=1


touch ".envrc-local"
source ".envrc-local"
